@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", serif;
  font-optical-sizing: auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #15202E;
}

h3 {
  font-size: 30px;
}

h1 {
  font-size: 60px;
}

.fs-16 {
  font-size: 16px;
  font-weight: 400;
}

.fs-30 {
  font-size: 30px;
}

/* .container {
  max-width: 1500px;

} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}